.header {
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100%;
}

.Nav {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.thumbButton {
  scale: 1.3 !important;
}

.card {
  width: 100vw;
}

.navbar {
  position: sticky;
  bottom: 0;

  background-color: white;
  align-items: center !important;
}
