.top {
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100%;
}

.Nav {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.card {
  width: 100vw;
}

.thumb {
  position: sticky;
  bottom: 0;
}
