.header {
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100%;
}

.Nav {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.navbar {
  position: sticky;
  bottom: 0;
  overflow: hidden;
  background-color: white;
  align-items: center !important;
}
