.top {
  position: fixed !important;
  top: 0;
  overflow: hidden !important;
  align-self: center !important;
  width: 90vw !important;
  z-index: 1;
  background-color: #16161abb !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

.swiper {
  height: 150px !important;
}

.contentspacer {
  background-color: red;
  height: 100vh !important;
}

.swiperitem {
  border-radius: 40px !important;
  height: 150px !important;
}

.thumb {
  z-index: 1;

  position: fixed !important;
  bottom: 0 !important;
  overflow: hidden !important;
  align-self: center !important;
  overflow: hidden;
  color: #94a1b2;
  height: 40px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #16161abb !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid #464752;
  width: 90vw !important;
}

.thumbbar {
  bottom: 0 !important;
  /* width: 100vw !important; */
  /* align-items: center !important; */
  /* position: sticky !important;
  
  overflow: hidden !important; */
  /* position: fixed; */
}
