@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

:root:root {
  --adm-color-primary: #7f5af0;
  --adm-color-secondary: #72757e;
  --adm-color-tertiary: #2cb67d;
  --adm-color-default: #fffffe;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;
  --adm-color-white: #ffffff;
  --adm-color-text: #fffffe;
  --adm-color-text-secondary: #666666;
  --adm-color-weak: #999999;
  --adm-color-light: #cccccc;
  --adm-color-border: #eeeeee;
  --adm-color-box: #f5f5f5;
  --adm-color-background: #242629;
  --adm-avatar-border-radius: 60px;

  --adm-font-family: "Inter";
}

.spacer-large {
  height: 90px;
}
.spacer-medium {
  height: 70px;
}

.spacer-small {
  height: 10px;
}

.subheadline {
  color: #94a1b2;
}

.heading {
  color: #fffffe;
}

p {
  font-size: 17px;
  line-height: 0;
}

/* .buttonbottom {
  bottom: 0 !important;
  width: 90vw;
  position: fixed;
  margin-top: 120px;
} */
.adm-card {
  color: #94a1b2;
  background: #16161a;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #464752;
}

html {
  font-family: var(--adm-font-family) !important;

  background-color: #212124;
}

.audit-theme {
  --adm-color-primary: #a062d4;
  --adm-color-secondary: #a032d4;
}

.logo {
  scale: 0.8;
  margin-bottom: -12px !important;
}

.raf-activity {
  border: solid rgba(255, 255, 255, 0.283) 1px;
  background-color: #16161a !important;
  font-family: var(--adm-font-family);
  color: white;
}

.userCard {
  border: solid rgba(255, 255, 255, 0.283) 1px;
  background-color: black !important;
  font-family: var(--adm-font-family);
  color: white;
}

.draggable {
  margin-bottom: -70px !important;
  background-color: whitesmoke;
  position: sticky !important;
  bottom: 0 !important;
  color: #94a1b2;
  margin-bottom: -60px;
  overflow: hidden;
  background-color: #16161abb !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid #464752;
}
